@page "/skillview/{Id:int}"
@using SkillSnap.Shared.Models
@inject SkillService SkillService
@inject NavigationManager Navigation

<h3>Skill Details</h3>
@if (skill == null)
{
    <p>Loading...</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@skill.Name</dd>
        <dt class="col-sm-2">Level</dt>
        <dd class="col-sm-10">@skill.Level</dd>
    </dl>
    <button class="btn btn-secondary" @onclick="@(() => Navigation.NavigateTo("/skilltags"))">Back</button>
}

@code {
    [Parameter] public int Id { get; set; }
    private Skill? skill;

    protected override async Task OnInitializedAsync()
    {
        skill = await SkillService.GetSkillByIdAsync(Id);
    }
}
